body{
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

.big{
    height: 22vh;
    width: 21vw;
}
.big .video{
    height: 22vh;
    width: 21vw;
}

.Non-Display{
  visibility: hidden;
  height: 5px;
  width: 5px;
}

.grid6R7C{
  display: grid;
  width: 90vw;
  height: 94vh;
  margin-top: 2vh;
  margin-left: 2vw;
  grid-template-rows:22.5vh 7.5vh 15vh 15vh 7.5vh 22.5vh;
  grid-template-columns: 21.5vw 7.5vw 14vw 15vw 6.5vw 7.5vw 14vw;
}
.grid6R7C .story{
  height:100%;
  width:100%;
}
.grid6R7C .chats{
  visibility: hidden;
}

.VSA .video{
  height: 22vh;
  width: 21vw;
}
.VSB .video{
  height: 29vh;
  width: 28vw;
}
.VSC .video{
  height: 44vh;
  width: 42vw;
}
.VSD .video{
  height: 66vh;
  width: 63vw;
}
.VSE .video{
  height: 88vh;
  width: 84vw;
}
.CSA .chats{
  visibility: visible;
  height: 22vh;
  width: 21vw;
}
.CSB .chats{
  visibility: visible;
  height: 58vh;
  width: 28vw;
}
.CSC .chats{
  visibility: visible;
  height: 44vh;
  width: 42vw;
}
.CSD .chats{
  visibility: visible;
  height: 66vh;
  width: 21vw;
}

.WA01{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.WA02{
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}
.WA03{
  grid-row: 4 / 6;
  grid-column: 1 / 2;
}
.WA04{
  grid-row: 6 / 7;
  grid-column: 1 / 2;
}
.WA05{
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}
.WA06{
  grid-row: 2 / 4;
  grid-column: 2 / 4;
}
.WA07{
  grid-row: 4 / 6;
  grid-column: 2 / 4;
}
.WA08{
  grid-row: 6 / 7;
  grid-column: 2 / 4;
}
.WA09{
  grid-row: 1 / 2;
  grid-column: 4 / 6;
}
.WA10{
  grid-row: 2 / 4;
  grid-column: 4 / 6;
}
.WA11{
  grid-row: 4 / 6;
  grid-column: 4 / 6;
}
.WA12{
  grid-row: 6 / 7;
  grid-column: 4 / 6;
}
.WA13{
  grid-row: 1 / 2;
  grid-column: 6 / 8;
}
.WA14{
  grid-row: 2 / 4;
  grid-column: 6 / 8;
}
.WA15{
  grid-row: 4 / 6;
  grid-column: 6 / 8;
}
.WA16{
  grid-row: 6 / 7;
  grid-column: 6 / 8;
}

.WA01C1{
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}
.WA03C1{
  grid-row: 4 / 7;
  grid-column: 1 / 2;
}
.WA05C1{
  grid-row: 1 / 4;
  grid-column: 2 / 4;
}
.WA07C1{
  grid-row: 4 / 7;
  grid-column: 2 / 4;
}
.WA09C1{
  grid-row: 1 / 4;
  grid-column: 4 / 6;
}
.WA11C1{
  grid-row: 4 / 7;
  grid-column: 4 / 6;
}
.WA13C1{
  grid-row: 1 / 4;
  grid-column: 6 / 8;
}
.WA15C1{
  grid-row: 4 / 7;
  grid-column: 6 / 8;
}
.WA01C3{
  grid-row: 1 / 7;
  grid-column: 1 / 2;
}
.WA05C3{
  grid-row: 1 / 7;
  grid-column: 2 / 4;
}
.WA09C3{
  grid-row: 1 / 7;
  grid-column: 4 / 6;
}
.WA13C3{
  grid-row: 1 / 7;
  grid-column: 6 / 8;
}

.WB01{
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.WB02{
  grid-row: 3 / 5;
  grid-column: 1 / 3;
}
.WB03{
  grid-row: 5 / 7;
  grid-column: 1 / 3;
}
.WB04{
  grid-row: 1 / 3;
  grid-column: 3 / 5;
}
.WB05{
  grid-row: 3 / 5;
  grid-column: 3 / 5;
}
.WB06{
  grid-row: 5 / 7;
  grid-column: 3 / 5;
}
.WB07{
  grid-row: 1 / 3;
  grid-column: 5 / 8;
}
.WB08{
  grid-row: 3 / 5;
  grid-column: 5 / 8;
}
.WB09{
  grid-row: 5 / 7;
  grid-column: 5 / 8;
}

.WB01C{
  grid-row: 1 / 7;
  grid-column: 1 / 3;
}
.WB04C{
  grid-row: 1 / 7;
  grid-column: 3 / 5;
}
.WB07C{
  grid-row: 1 / 7;
  grid-column: 5 / 8;
}
.WB07H{
  grid-row: 1 / 3;
  grid-column: 4 / 7;
}
.WB08H{
  grid-row: 3 / 5;
  grid-column: 4 / 7;
}
.WB09H{
  grid-row: 5 / 7;
  grid-column: 4 / 7;
}

.WC01{
  grid-row: 1 / 4;
  grid-column: 1 / 4;
}
.WC02{
  grid-row: 4 / 7;
  grid-column: 1 / 4;
}
.WC03{
  grid-row: 1 / 4;
  grid-column: 4 / 8;
}
.WC04{
  grid-row: 4 / 7;
  grid-column: 4 / 8;
}
.WC01C{
  grid-row: 1 / 7;
  grid-column: 1 / 4;
}
.WC03C{
  grid-row: 1 / 7;
  grid-column: 4 / 8;
}
.WD01C{
  grid-row: 1 / 6;
  grid-column: 1 / 8;
}
.WE01{
  grid-row: 1 / 7;
  grid-column: 1 / 8;
}


.story{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.story.cleared{
        background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%20%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22800%22%20height%3D%22800%22%20viewBox%3D%220%200%20800%20800%22%20xml%3Aspace%3D%22preserve%22%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cg%20transform%3D%22matrix(1%200%200%201%20400%20539.25)%22%20style%3D%22%22%20id%3D%221OBZeiS4EhpNMcGMqLpez%22%20%3E%20%3Ctext%20xml%3Aspace%3D%22preserve%22%20font-family%3D%22Open%20Sans%22%20font-size%3D%2283%22%20font-style%3D%22normal%22%20font-weight%3D%22700%22%20line-height%3D%221%22%20style%3D%22stroke%3A%20none%3B%20stroke-width%3A%201%3B%20stroke-dasharray%3A%20none%3B%20stroke-linecap%3A%20butt%3B%20stroke-dashoffset%3A%200%3B%20stroke-linejoin%3A%20miter%3B%20stroke-miterlimit%3A%204%3B%20fill%3A%20rgb(164%2C164%2C164)%3B%20fill-rule%3A%20nonzero%3B%20opacity%3A%201%3B%20white-space%3A%20pre%3B%22%20%3E%3Ctspan%20x%3D%22-290.5%22%20y%3D%22-28.03%22%20style%3D%22white-space%3A%20pre%3B%20%22%3E%20%E5%8B%95%E7%94%BB%E3%82%92%E3%81%93%E3%81%93%E3%81%AB%3C%2Ftspan%3E%3Ctspan%20x%3D%22-290.5%22%20y%3D%2265.76%22%20style%3D%22white-space%3A%20pre%3B%20%22%3EDrag%20%EF%BC%86%20Drop%3C%2Ftspan%3E%3C%2Ftext%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(0%201.24%20-1.87%200%20400%20381.51)%22%20id%3D%22elFbTrw7ElDMtQ_rpP51a%22%20%3E%3Cpath%20style%3D%22stroke%3A%20none%3B%20stroke-width%3A%201%3B%20stroke-dasharray%3A%20none%3B%20stroke-linecap%3A%20butt%3B%20stroke-dashoffset%3A%200%3B%20stroke-linejoin%3A%20miter%3B%20stroke-miterlimit%3A%204%3B%20fill%3A%20rgb(179%2C181%2C179)%3B%20fill-rule%3A%20nonzero%3B%20opacity%3A%201%3B%22%20vector-effect%3D%22non-scaling-stroke%22%20transform%3D%22%20translate(-40%2C%20-40)%22%20d%3D%22M%2041.17%2072.5%20L%2080%2040%20L%2041.17%207.5%20L%2041.17%2028.105%20L%200%2028.105%20L%200%2051.952%20L%2041.17%2051.952%20L%2041.17%2072.5%20z%22%20stroke-linecap%3D%22round%22%20%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(1.32%200%200%201.32%20438.16%20151.13)%22%20id%3D%22MV0WyoSkIrCFXkWjNUfCC%22%20%3E%3Cg%20style%3D%22%22%20vector-effect%3D%22non-scaling-stroke%22%20%3E%20%3Cg%20transform%3D%22matrix(1%200%200%201%200%200)%22%20id%3D%22W52e5YVYhITcM3vmMcfp6%22%20%3E%3Cpath%20style%3D%22stroke%3A%20none%3B%20stroke-width%3A%201%3B%20stroke-dasharray%3A%20none%3B%20stroke-linecap%3A%20butt%3B%20stroke-dashoffset%3A%200%3B%20stroke-linejoin%3A%20miter%3B%20stroke-miterlimit%3A%204%3B%20fill%3A%20rgb(179%2C181%2C179)%3B%20fill-rule%3A%20nonzero%3B%20opacity%3A%201%3B%22%20vector-effect%3D%22non-scaling-stroke%22%20transform%3D%22%20translate(-40%2C%20-40)%22%20d%3D%22M%2057.8%200%20L%2022.2%200%20C%209.9%200%200%209.9%200%2022.2%20L%200%2057.8%20C%200%2070.1%209.9%2080%2022.2%2080%20L%2057.8%2080%20C%2070.1%2080%2080%2070.1%2080%2057.8%20L%2080%2022.2%20C%2080%209.9%2070.1%200%2057.8%200%20z%22%20stroke-linecap%3D%22round%22%20%2F%3E%3C%2Fg%3E%20%3Cg%20transform%3D%22matrix(1%200%200%201%200.01%200)%22%20id%3D%22tezNHQ0IyUIIpeyjiUIsJ%22%20%3E%3Cpath%20style%3D%22stroke%3A%20none%3B%20stroke-width%3A%201%3B%20stroke-dasharray%3A%20none%3B%20stroke-linecap%3A%20butt%3B%20stroke-dashoffset%3A%200%3B%20stroke-linejoin%3A%20miter%3B%20stroke-miterlimit%3A%204%3B%20fill%3A%20rgb(255%2C255%2C255)%3B%20fill-rule%3A%20nonzero%3B%20opacity%3A%201%3B%22%20vector-effect%3D%22non-scaling-stroke%22%20transform%3D%22%20translate(-40.01%2C%20-40)%22%20d%3D%22M%2067.4%2023.9%20C%2066.9%2023.599999999999998%2066.2%2023.599999999999998%2065.7%2023.799999999999997%20L%2055.5%2028.499999999999996%20L%2055.5%2024.599999999999998%20C%2055.5%2021.2%2052.8%2018.5%2049.4%2018.5%20L%2017.9%2018.5%20C%2014.499999999999998%2018.5%2011.799999999999999%2021.2%2011.799999999999999%2024.6%20L%2011.799999999999999%2055.400000000000006%20C%2011.799999999999999%2058.800000000000004%2014.5%2061.50000000000001%2017.9%2061.50000000000001%20L%2049.2%2061.50000000000001%20C%2052.6%2061.50000000000001%2055.300000000000004%2058.800000000000004%2055.300000000000004%2055.400000000000006%20L%2055.300000000000004%2051.50000000000001%20L%2065.5%2056.20000000000001%20C%2066%2056.40000000000001%2066.7%2056.40000000000001%2067.2%2056.10000000000001%20C%2067.7%2055.80000000000001%2068.10000000000001%2055.20000000000001%2068.10000000000001%2054.60000000000001%20L%2068.2%2054.60000000000001%20L%2068.2%2025.5%20C%2068.3%2024.8%2068%2024.3%2067.4%2023.9%20z%22%20stroke-linecap%3D%22round%22%20%2F%3E%3C%2Fg%3E%20%3Cg%20transform%3D%22matrix(1%200%200%201%200.05%20-0.05)%22%20id%3D%22NSYgGE6RvUbcQuqI9Gdiv%22%20%3E%3Cpath%20style%3D%22stroke%3A%20none%3B%20stroke-width%3A%201%3B%20stroke-dasharray%3A%20none%3B%20stroke-linecap%3A%20butt%3B%20stroke-dashoffset%3A%200%3B%20stroke-linejoin%3A%20miter%3B%20stroke-miterlimit%3A%204%3B%20fill%3A%20rgb(179%2C181%2C179)%3B%20fill-rule%3A%20nonzero%3B%20opacity%3A%201%3B%22%20vector-effect%3D%22non-scaling-stroke%22%20transform%3D%22%20translate(-40.05%2C%20-39.95)%22%20d%3D%22M%2052.8%2032.8%20C%2052.3%2032.5%2051.9%2031.9%2051.9%2031.299999999999997%20L%2051.9%2024.599999999999998%20C%2051.9%2023.2%2050.699999999999996%2021.999999999999996%2049.3%2021.999999999999996%20L%2017.9%2021.999999999999996%20C%2016.5%2021.999999999999996%2015.299999999999999%2023.199999999999996%2015.299999999999999%2024.599999999999998%20L%2015.299999999999999%2055.3%20C%2015.299999999999999%2056.699999999999996%2016.5%2057.9%2017.9%2057.9%20L%2049.4%2057.9%20C%2050.8%2057.9%2052%2056.699999999999996%2052%2055.3%20L%2052%2048.699999999999996%20C%2052%2047.99999999999999%2052.3%2047.49999999999999%2052.9%2047.199999999999996%20C%2053.5%2046.9%2054.1%2046.9%2054.6%2047.099999999999994%20L%2064.8%2051.8%20L%2064.8%2028.2%20L%2054.599999999999994%2032.9%20C%2053.9%2033.2%2053.3%2033.1%2052.8%2032.8%20z%22%20stroke-linecap%3D%22round%22%20%2F%3E%3C%2Fg%3E%20%3Cg%20transform%3D%22matrix(1%200%200%201%20-3.8%200)%22%20id%3D%22uBgRQb7swqPDZx0nKVCTs%22%20%3E%3Cpath%20style%3D%22stroke%3A%20none%3B%20stroke-width%3A%201%3B%20stroke-dasharray%3A%20none%3B%20stroke-linecap%3A%20butt%3B%20stroke-dashoffset%3A%200%3B%20stroke-linejoin%3A%20miter%3B%20stroke-miterlimit%3A%204%3B%20fill%3A%20rgb(255%2C255%2C255)%3B%20fill-rule%3A%20nonzero%3B%20opacity%3A%201%3B%22%20vector-effect%3D%22non-scaling-stroke%22%20transform%3D%22%20translate(-36.2%2C%20-40)%22%20d%3D%22M%2026.6%2029.2%20L%2045.8%2040%20L%2026.6%2050.8%20L%2026.6%2029.2%20z%22%20stroke-linecap%3D%22round%22%20%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(1.86%200%200%201.86%20338.81%20234.66)%22%20id%3D%22Lh3paF4KvinKZRdTWCxKg%22%20%3E%3Cg%20style%3D%22%22%20vector-effect%3D%22non-scaling-stroke%22%20%3E%20%3Cg%20transform%3D%22matrix(1%200%200%201%200.02%200.01)%22%20id%3D%22Ldoo9ZtydJi6PxqVWh_Bj%22%20%3E%3Cpath%20style%3D%22stroke%3A%20none%3B%20stroke-width%3A%201%3B%20stroke-dasharray%3A%20none%3B%20stroke-linecap%3A%20butt%3B%20stroke-dashoffset%3A%200%3B%20stroke-linejoin%3A%20miter%3B%20stroke-miterlimit%3A%204%3B%20fill%3A%20rgb(179%2C181%2C179)%3B%20fill-rule%3A%20nonzero%3B%20opacity%3A%201%3B%22%20vector-effect%3D%22non-scaling-stroke%22%20transform%3D%22%20translate(-40.02%2C%20-40.01)%22%20d%3D%22M%2070.2%200.8%20L%205.3%2024.5%20C%200.6%2026.4%200%2029.2%200%2030.7%20C%200%2032.2%200.8%2035%205.6%2036.6%20L%2024.200000000000003%2043%20L%204.6%2062.5%20C%201.2999999999999998%2065.8%201.2999999999999998%2071.1%204.6%2074.4%20L%205.6%2075.4%20C%208.8%2078.60000000000001%2014.299999999999999%2078.60000000000001%2017.5%2075.4%20L%2037%2055.8%20L%2043.4%2074.4%20C%2045.1%2079.30000000000001%2047.9%2080%2049.4%2080%20L%2049.4%2080%20C%2050.9%2080%2053.6%2079.3%2055.5%2074.6%20L%2079.2%209.8%20C%2080.7%206.1000000000000005%2079.9%203.700000000000001%2079%202.4000000000000004%20C%2077.3%200%2073.8%20-0.7%2070.2%200.8%20z%22%20stroke-linecap%3D%22round%22%20%2F%3E%3C%2Fg%3E%20%3Cg%20transform%3D%22matrix(1%200%200%201%200.6%20-0.6)%22%20id%3D%22An9sKlC7NApyvQSHPLGwL%22%20%3E%3Cpath%20style%3D%22stroke%3A%20none%3B%20stroke-width%3A%201%3B%20stroke-dasharray%3A%20none%3B%20stroke-linecap%3A%20butt%3B%20stroke-dashoffset%3A%200%3B%20stroke-linejoin%3A%20miter%3B%20stroke-miterlimit%3A%204%3B%20fill%3A%20rgb(255%2C255%2C255)%3B%20fill-rule%3A%20nonzero%3B%20opacity%3A%201%3B%22%20vector-effect%3D%22non-scaling-stroke%22%20transform%3D%22%20translate(-40.6%2C%20-39.4)%22%20d%3D%22M%207.8%2030.5%20C%207.8%2030.5%2073.39999999999999%206.600000000000001%2073.39999999999999%206.600000000000001%20C%2073.39999999999999%206.600000000000001%2049.49999999999999%2072.19999999999999%2049.49999999999999%2072.19999999999999%20C%2049.49999999999999%2072.19999999999999%2041.49999999999999%2049.39999999999999%2041.099999999999994%2048.499999999999986%20C%2040.699999999999996%2047.59999999999999%2039.699999999999996%2046.899999999999984%2038.599999999999994%2046.79999999999998%20C%2037.599999999999994%2046.69999999999998%2036.599999999999994%2047.09999999999998%2035.89999999999999%2047.69999999999998%20L%2012.9%2070.8%20C%2012.200000000000001%2071.5%2010.9%2071.5%2010.2%2070.8%20L%209.2%2069.8%20C%208.5%2069.1%208.5%2067.8%209.2%2067.1%20L%2032.3%2044%20C%2033%2043.3%2033.3%2042.3%2033.199999999999996%2041.2%20C%2033.099999999999994%2040.2%2032.3%2039.1%2031.099999999999994%2038.7%20C%2029.9%2038.2%207.8%2030.5%207.8%2030.5%20z%22%20stroke-linecap%3D%22round%22%20%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.clear{
    position:absolute;
    top:0;
    right:1vw;
    width: 40px;
    text-align: center;
    height:40px;
    margin: 10px;
    padding: 0 auto;
    z-index: 5;
    background: rgba(235,30,20,1);
    border: 2px solid black;
    border-radius: 30px;
    font-size: 30px;
    opacity: .1;
    transition: .3s;
}
.clear:hover{
    opacity: 1;
}
.no-content{
    display: none !important;
}


.iconArea{
  /*エリア設定*/
  height: 6vh;
  background-color: #ccc;
  padding: 5px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 50;

  /*以下3行:エリア内の上下中央揃え*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  /*アイコン画像の大きさ*/
  display: inline-block;
  border-radius: 50%;
  border: solid 3px rgba(0,0,0,0.5);
  height: 5vh;
  width: 5vh;
  margin: 0.4% 0.3vw;
}

.iconL{
  /*アイコン画像の大きさ*/
  display: inline-block;
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  border: solid 3px rgba(0,0,0,0.5);
  height: 5vh;
  width: 2.5vh;
  margin: 0.4% 0 0.4% 0.3vw;
  object-fit: cover;
}
.iconR{
  /*アイコン画像の大きさ*/
  display: inline-block;
  border-radius: 0 100% 100% 0%/0 50% 50% 0;
  border: solid 3px rgba(0,0,0,0.5);
  height: 5vh;
  width: 2.5vh;
  margin: 0.4% 0.3vw 0.4% 0;
  object-fit: cover;
}
.icondiv{
  height: 6vh;
}
.icondiv:hover:after{
    content: attr( alt );
    white-space: pre;
    text-align: center;
    font-size: 80%;
    font-weight: 600;
    line-height: 18px;
    display:block;
    position: absolute;
    z-index: 900;
    background : #AAFFAA;
}
.Area{
  /*エリア横並び*/
  display: flex;
}
.videoArea{
  /*配信表示エリア*/
  height: 94vh;
  width: 90vw;
  /*background-color: green;*/
}
.selectArea{
  /*レイアウト選択エリア*/
  height: 94vh;
  width: 10vw;
  background-color: #3a5ee7;
}
.select{
  /*アイコン画像の大きさ*/
  border-radius: 0%;
  height: 2.4vh;
  width: 2.4vw;
  padding-left: 7px;
  padding-top: 7px;
}

.ButtonL{
  width:8vw;
  left:1vw;
  font-size: 75%;
  font-weight: 600;
  border-radius: 10px;
  margin: 5%;
  border-bottom:solid 4px #627295;/**これは何？/
  /*color:#000;/*文字色*/
  text-align:center;
  vertical-align:middle;
  border : solid 2px white;
}
.Slide{background:#a9e54d;}
.Reset{background:#ffa500;}


.Slide:hover{background:#89c52d;}
.Reset:hover{background:#df8500;}

.Slide:active,
.Reset:active{
  -webkit-transform:translateY(2px);
  transform:translateY(2px);
  box-shadow:0px 0px 1px rgba(0,0,0,0.2);
  border-bottom:none;
}
/*
button{
  font-size: 50%;
  font-weight: 600;
  color: yellow;
}*/
